<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.7.0/themes/icon.css">

    <script src="/static/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script src="/static/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
</head>
<body>
<input class="input_btn" type="button" style="width:100px;height: 40px;" value="add" onclick="addElement()"></input>
<input class="input_btn" type="button" style="width:100px;height: 40px;" value="delete" onclick="deleteElement()"></input>
<input class="input_btn" type="button" style="width:100px;height: 40px;" value="dialog" onclick="showDialog()"></input>
<div id="cc" class="easyui-layout" style="width:600px;height:400px;">
    <div data-options="region:'north',title:'North Title',split:true" style="height:100px;"></div>
    <div data-options="region:'south',title:'South Title',split:true" style="height:100px;"></div>
    <div data-options="region:'east',title:'East',split:true" style="width:100px;"></div>
    <div data-options="region:'west',title:'West',split:true" style="width:100px;"></div>
    <div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;"></div>
</div>
<div id="show" style="height: 500px;width: 600px"></div>
<script>
    function addElement() {
        let center = $("#cc").layout("panel", "center");
        center.append("<p>I love you</p>");
        resetHeight();
    }

    function resetHeight() {
        let center = $("#cc").layout("panel", "center");
        let oldHeight = center.panel("panel").outerHeight();
        center.panel("resize", {
            height: 'auto'
        });
        let newHeight = center.panel("panel").outerHeight();
        $("#cc").layout("resize", {
            height:
                $("#cc").height() + newHeight - oldHeight,
        })
    }

    //减少元素
    function deleteElement(){
        let center = $("#cc").layout("panel","center").find("p:last").remove();

        resetHeight();

    }


    function showDialog() {
        $("#show").dialog({
            modal: true,
            open: true,
            content: '<iframe style="width:100%;height: 99%;scrolling:no" src="/static/page/datadialog2.html"></iframe>',
        });
    }

</script>
</body>
</html>